{include="article/head.html"}
  <div id="bd">
  <div id="ban-in" style="background-image:url({$GLOBALS['TURL']}images/14415956833641.jpg)">
    <div class="miaoshu"><div class="name"></div></div>
    <div class="ban-bg"></div>
  </div>
  <div class="c"></div>
  <div class="wp" id="whous">
    <div class="tit-i">
        <h3>{$type['classname']}</h3>
        <h5>about <span>YINGHUA</span></h5>
    </div>
    <div class="c"></div>
    <div class="about-info">{$type['body']}</div>
  </div>
</div>              
{include="article/foot.html"}