{include="head.html"}
<div id="bd">
  <div id="ban-in" style="background-image:url({$GLOBALS['TURL']}images/zhaoshangxx.jpg)">
    <div class="miaoshu"><div class="name"></div></div>
    <div class="ban-bg"></div>
  </div>
  <div class="c"></div>
  <div class="wp" id="whous">
    <div class="tit-i">
        <h3>招生信息</h3>
        <h5>Admissions  <span>Information</span></h5>
    </div>
    <div class="c"></div>
    <div class="sub-nav">
    <ul>
    
        <li ><a href="index.php?c=article&a=type&tid=11">招生简章</a></li>
        <li ><a href="index.php?c=message&a=type&tid=24">网上报名</a></li>
  
       
    </ul>
</div>
    <div class="about-info" style="text-align:left;"> {$type['body']}</div>
  </div>
</div>        
{include="foot.html"}