<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{$GLOBALS['TURL']}js/jquery-1.8.3.min.js"></script>

 	<link rel="stylesheet" href="{$GLOBALS['TURL']}css/zerogrid.css">
	<link rel="stylesheet" href="{$GLOBALS['TURL']}css/mnstyle.css">
	<link rel="stylesheet" href="{$GLOBALS['TURL']}css/responsiveslides.css">
	<!-- Custom Fonts -->
	<link href="{$GLOBALS['TURL']}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<script src="{$GLOBALS['TURL']}js/jquery-latest.min.js"></script>
	<script src="{$GLOBALS['TURL']}js/script.js"></script>
    <script src="{$GLOBALS['TURL']}js/jquery183.min.js"></script>
    <script src="{$GLOBALS['TURL']}js/responsiveslides.min.js"></script>
    <script>
		// You can also use "$(window).load(function() {"
		$(function () {
		  // Slideshow 
		  $("#slider").responsiveSlides({
			auto: true,
			pager: false,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			  $('.events').append("<li>before event fired.</li>");
			},
			after: function () {
			  $('.events').append("<li>after event fired.</li>");
			}
		  });
		});
	</script>

<title>{$GLOBALS['S']['title']}</title>
<meta name="Keywords" content="{$GLOBALS['S']['keywords']}" />
<meta name="Description" content="{$GLOBALS['S']['description']}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
<div class="wrap-body">
<header>
	<div class="wrap-header zerogrid">
		<div class="row">
			<div id="cssmenu">
				<ul>
				   <li class='active'><a href="index.php">首页</a></li>
                   {loop table="classtype" pid="0" as="v"}
          	       <li><a href="{$v['url']}"><div class="nav_t">{$v['classname']}</div><div class="nav_b">{$v['classname_en']}</div></a></li>
                   {/loop}
				</ul>
			</div>
			<a href='index.php' class="logo"><img src="{$GLOBALS['TURL']}images/logo.png" /></a>
		</div>
	</div>
</header>