{include="head.html"}
  <div id="bd">
  <div id="ban-in" style="background-image:url({$GLOBALS['TURL']}images/14415956833641.jpg)">
    <div class="miaoshu"><div class="name"></div></div>
    <div class="ban-bg"></div>
  </div>
  <div class="c"></div>
  <div class="wp" id="whous">
    <div class="tit-i">
        <h3>{$article['title']}</h3>
        <div class="rq">发表日期：{fun date('Y-m-d H:i:s',$article['addtime'])}</div>
    </div>
    <div class="c"></div>
    <div class="about-info" style="text-align: left">{$article['body']}</div>
  </div>
</div>              
{include="foot.html"}